
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color:#2f80ed;
}

/* Filter buttons */
.filters {
  text-align: center;
  margin-bottom: 30px;
}

.filters button {
  padding: 8px 14px;
  margin: 5px;
  border: none;
  background-color: #2f80ed;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filters button:hover {
  background-color: #1c65c9;
}

/* Event container */
#eventContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Event card */
.event-card {
  background-color: #ffffff;
  width: 230px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Image */
.event-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Title */
.event-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #2f80ed;
}

/* Speaker */
.event-card p {
  font-size: 14px;
  margin-bottom: 6px;
}

/* Time + Category */
.event-card span {
  font-size: 13px;
  color: #666;
}

/* Hide class for filtering */
.hide {
  display: none;
}